@model ForgotPasswordViewModel

<div class="container custom-container" style="max-width:40vw; margin-top:5vh">
    <h5 class="mt-5">Forgot your Password?</h5>
    <p>Enter your email</p>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <form method="post" asp-action="ForgotPassword" asp-controller="Account">
                <div asp-validation-summary="All"></div>
                <div class="form-group mt-2">
                    <input id="formImput" asp-for="Email" placeholder="Your email adress" class="form-control custom-input" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn button-blue mt-4 mb-4" value="Update" style="width:auto">Submit</button>
            </form>
        </div>
    </div>
</div>


@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $('#formImput').val("");
    })
</script>
}