@model Company



<div style="min-height:80vh; position:relative">
    <div class="custom-container" style="max-width:800px; margin:auto; position:absolute; top:10%; left:20%">
        <div class="mt-5" style="text-align:center">
            <h4>Company registration</h4>
        </div>
        <form method="post" asp-controller="Home" asp-action="CreateCompany" style="margin:auto;">
            <div class="row" style="justify-content:space-between">
                <div class="col-sm-5 mt-5" style="margin-top:10px; margin-left:auto">
                    <input asp-for="Name" class="form-control custom-input" placeholder="Company name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-sm-5 mt-5" style="margin-top:10px; margin-right:auto">
                    <input asp-for="LocationCountry" class="form-control custom-input" placeholder="Country of company location" />
                    <span asp-validation-for="LocationCountry" class="text-danger"></span>
                </div>
                <div class="col-sm-10 mt-5" style="margin-top: 10px; margin-left: auto; margin-right: auto">
                    <input asp-for="LocationAdress" class="form-control custom-input" placeholder="Location adress" />
                    <span asp-validation-for="LocationAdress" class="text-danger"></span>
                </div>
                <div class="col-sm-10 mt-5" style="margin-top: 10px; margin-left:auto; margin-right:auto">
                    <input asp-for="Email" class="form-control custom-input" placeholder="Corporative email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-sm-12">
                    <button type="submit" class="btn button-blue mt-4" style="width:auto; float:right; margin-right:70px;
            margin-bottom: 10px">
                        Create
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
